@charset "UTF-8";

* {
    text-decoration: none;

}

.top1_1>a:link {
    color: white;
}

.top1_1>a:visited {
    color: white;
}

.top1_2>a:link {
    color: #E1E1E1;
}

.top1_2>a:visited {
    color: #E1E1E1;
}

.top1_2>a:hover {
    text-decoration: none;
    border-bottom: 3px solid white;
    padding-bottom: 30px;
    color: white;
}

.position>a:link {
    color: #E1E1E1;
}

.position>a:visited {
    color: #E1E1E1;
}

.position2>a:link {
    color: #E1E1E1;
}

.position2>a:visited {
    color: #E1E1E1;
}

.top1 .top1_1 {
    display: flex;
    justify-content: flex-end;

    background: #011533;
    color: white;
    height: 40px;
}

.top1 .top1_1 .game_title {
    display: block;
    background-color: #5B96F0;
    margin-right: 1495px;
    font-size: 13px;

    width: 147px;
}

.top1 .top1_1 .title {
    display: block;
    background-color: #5B96F0;
    padding-top: 10px;
    padding-right: 30px;
    font-weight: bold;
}

.top .top1_1 .country {
    display: block;
    padding-top: 10px;
    padding-right: 20px;
    color: #5B96F0;
}

.top .top1_1 .language {
    display: block;
    padding-top: 10px;
    padding-right: 10px;
    width: 54px;
    font-size: 13px;
}

.top .top1_1 .down {
    display: block;
    padding-top: 10px;
    padding-right: 20px;
}

.top .top1_1 .button1 {
    display: block;
    font-size: 12px;
    border: none;
    border-radius: 4px;
    padding-right: 7px;
    line-height: 26px;
    letter-spacing: -0.5px;
    text-decoration: none;
    margin: 7px 0;
    width: 56px;
}

.top .top1_2 {
    display: flex;
    justify-content: space-between;
    background: #5B96F0;
    color: #E0E1E3;
    height: 50px;
    padding-right: 500px;
    padding-left: 200px;
    padding-top: 15px;
    font-size: 14px;
}

.search {
    position: relative;
    display: flex;
    align-items: center;
    background: #ecf2ff;
    color: #4171d6;
    font-size: 12px;
    padding: 0 12px;
    border-radius: 4px 0 0 4px;
    cursor: pointer;
    left: 95px;
    height: 29px;
    top: -4px;
}

.search2 {
    position: relative;
    line-height: 25px;
    width: 250px;
    top: -5px;
    left: 35px;
}

.top1_2 button {
    position: absolute;
    height: 32px;
    width: 54px;
    text-align: center;
    background: none;
    border: none;
    line-height: 32px;
    right: 465px;
    top: 52px;
}

.search .search_form {
    height: 25px;
    margin-left: 300px;
    width: 350px;
}

.champion_section {
    position: relative;
    overflow: hidden;
    color: #fff;
    background: #292e38;

}

.champion_section_header {
    position: relative;
    width: 550px;
    padding-left: 360px;
    height: 265px;

    /* 상대하기 쉬운 챔피언 추가할떄 없애주기 */
}

.champion_position {
    margin-top: 30px;
}

.champion_position a {
    display: block;
    padding: 8px 20px 8px 16px;
    text-decoration: none;
    line-height: 24px;
}

.position {
    background: #2e7fdd;
    color: #fff;
}

.role {
    position: relative;
    left: 10px;
    top: -8px;
}

.rate {
    position: relative;
    left: 50px;
    top: -8px;
}

.position2 {
    position: relative;
    left: 220px;
    top: -50px;
    background: #414650;
    color: #fff;
}

.role2 {
    position: relative;
    top: -8px;
    left: 8px;
}

.rate2 {
    position: relative;
    top: -8px;
    left: 30px;
}

.version {
    position: relative;
    left: 880px;
    top: -82px;
    font-size: 13px;
}

.version_icon {
    padding-right: 5px;
    color: #C8C8C8;
}

.champion_header_info {
    width: 610px;
    position: relative;
    top: -25px;
}

.tier_img {
    position: relative;
    top: -138px;
    left: 118px;
}

.champion_name {
    color: #fff;
    position: relative;
    top: -130px;
    font-size: 24px;
    left: 160px;
    letter-spacing: -0.9px;
    font-weight: normal;
}

.champion_tier_info {
    position: relative;
    right: -160px;
    top: -117px;
    font-size: 14px;
}

.champion_skil {
    position: relative;
    right: -160px;
    top: -107px;
}

.counter_champion {
    position: relative;
    right: -800px;
    top: -260px;

}

.tab_item {
    background-color: #f2f2f2;
    border-color: #f2f2f2;
    color: #28272c;
    width: 140px;
    border: none;
    border-radius: 4px;
}

.tab_item a {
    display: block;
    line-height: 15px;
    font-size: 12px;
    text-decoration: none;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 5px;
    font-weight: bold;
    color: #28272c;
}

.tab_item2 {
    position: relative;
    right: -140px;
    top: -26px;
    background: #292e38;
    border: none;
    border-radius: 4px;
}

.tab_item2 a {
    display: block;
    width: 180px;
    margin-left: 4px;
    border-radius: 4px;
    border: solid 1px #979797;
    color: #9c9c9c;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
}

.champion_table {
    position: relative;
    right: -800px;
    top: -260px;
    font-size: 13px;
}

.champion_table a {
    color: #fff;
}

.list_rate {
    position: relative;
    right: -60px;
}

.list_counter {
    position: relative;
    right: -100px;
    font-size: 12px;
}

.list_counter a {
    color: #9c9c9c;
}

.list_counter a:hover {
    color: #fff;
}

.list_champion2 {
    padding-top: 10px;
}

.list_rate2 {
    position: relative;
    right: -60px;
}

.list_counter2 {
    position: relative;
    right: -100px;
    font-size: 12px;
}

.list_counter2 a {
    color: #9c9c9c;
}

.list_counter2 a:hover {
    color: #fff;
}

.list_champion3 {
    padding-top: 10px;
}

.list_rate3 {
    position: relative;
    right: -60px;
}

.list_counter3 {
    position: relative;
    right: -100px;
    font-size: 12px;
}

.list_counter3 a {
    color: #9c9c9c;
}

.list_counter3 a:hover {
    color: #fff;
}

.middle_item {
    background: #fff;
    border-bottom: 1px solid #dcdcdc;
    padding-left: 360px;
}

.middle_list.active a {
    color: #3c8eec;
    border-bottom-color: #3c8eec;
    font-weight: bold;
}

.middle_list a {
    display: block;
    border-bottom: 2px solid transparent;
    padding: 14px 20px 15px;
    line-height: 19px;
    font-size: 15px;
    color: #777;
    text-decoration: none;
}

.menu2_table {
    position: relative;
    top: 60px;
    right: -370px;
    background-color: #f5f5f5;
    border: solid 1px #e6e6e6;
    border-collapse: collapse;

}

.menu2_table_item {
    height: 40px;
    background: #fff;
    border-bottom: solid 1px #e6e6e6;
    vertical-align: middle;
    line-height: 17px;
    font-size: 14px;
    letter-spacing: -0.2px;
    color: #777;
    font-weight: bold;
    padding-left: 10px;
}

.champion_data_item {
    padding: 10px 0 10px;
    height: 70px;
}

.champion_dataitem2 {
    border: 1px solid #000;
    border-radius: 2px;
    height: 44px;
    box-sizing: border-box;
    position: relative;
    right: -20px;
}

.champion_dataitem3 {
    border: 1px solid #000;
    border-radius: 2px;
    height: 44px;
    box-sizing: border-box;
    position: relative;
    right: -40px;
}

.champion_data2_item1 {
    position: relative;
    right: -52px;
    top: -43px;
    font-size: 13px;
    font-weight: bold;
    color: #4a4a4a;
}

.champion_data2_item2 {
    position: relative;
    right: -4px;
    top: -20px;
    font-size: 13px;
    color: #777;
}

.champion_data3_item1 {
    position: relative;
    top: -33px;
    right: -46px;
    font-size: 13px;
    color: #777;
    font-weight: bold;
}

.champion2_data {
    padding: 10px 0 10px;
    height: 70px;
}

.champion2_dataitem1 {
    border: 1px solid #000;
    border-radius: 2px;
    height: 44px;
    box-sizing: border-box;
    position: relative;
    right: -20px;
}

.champion2_dataitem2 {
    border: 1px solid #000;
    border-radius: 2px;
    height: 44px;
    box-sizing: border-box;
    position: relative;
    right: -40px;
}

.champion2_data2_item1 {
    position: relative;
    right: -52px;
    top: -30px;
    font-size: 13px;
    font-weight: bold;
    color: #4a4a4a;
}

.champion2_data2_item2 {
    position: relative;
    right: -8px;
    top: -8px;
    font-size: 13px;
    color: #777;
}

.champion2_data3_item1 {
    position: relative;
    top: -20px;
    right: -46px;
    font-size: 13px;
    color: #777;
    font-weight: bold;
}

.menu3_table_item {
    height: 40px;
    background: #fff;
    border-bottom: solid 1px #e6e6e6;
    vertical-align: middle;
    line-height: 17px;
    font-size: 14px;
    letter-spacing: -0.2px;
    color: #777;
    font-weight: bold;
    padding-left: 10px;
}

.champion3 {
    padding: 10px 0 10px 20px;
}

.champion3_data1 {
    border: 1px solid #000;
    border-radius: 2px;
    height: 44px;
    box-sizing: border-box;
    width: 44px;
}

.champion3_data1_item1 {
    position: absolute;
    width: 20px;
    line-height: 20px;
    font-size: 12px;
    letter-spacing: -0.5px;
    color: #fff;
    text-align: center;
    left: 43px;
    top: 257px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 1px;
}

.champion3_data2 {
    border: 1px solid #000;
    border-radius: 2px;
    height: 44px;
    box-sizing: border-box;
    width: 44px;
    position: relative;
    right: -20px;
    top: -1px;
}

.champion3_data1_item2 {
    position: absolute;
    width: 20px;
    line-height: 20px;
    font-size: 12px;
    letter-spacing: -0.5px;
    color: #fff;
    text-align: center;
    right: -1px;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 1px;
}

.champion3_data3 {
    border: 1px solid #000;
    border-radius: 2px;
    height: 44px;
    box-sizing: border-box;
    width: 44px;
    position: relative;
    right: 23px;
    top: -1px;
}


.champion3_data5 {
    border: 1px solid #000;
    border-radius: 2px;
    height: 44px;
    box-sizing: border-box;
    width: 44px;
    position: relative;
    right: 5px;
}

.champion3_data1_item3 {
    position: absolute;
    width: 20px;
    line-height: 20px;
    font-size: 12px;
    letter-spacing: -0.5px;
    color: #fff;
    text-align: center;
    right: 2px;
    bottom: 1px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 1px;
}

.champion_skill_build th {
    background: #fff;
    border: solid 1px #ced2d5;
    line-height: 12px;
    font-size: 11px;
    letter-spacing: -0.4px;
    color: #777;
    padding: 10px 10px 10px 10px;
}

.champion_skill_build td {
    position: relative;
    background: #f9f9fa;
    border: solid 1px #ced2d5;
    line-height: 14px;
    font-size: 12px;
    letter-spacing: -0.5px;
    text-align: center;
    color: #4a4a4a;
    padding: 5px 10px 10px 10px;
}

.champion_skill_build img {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}

.champion_skill_build span {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 16px;
    height: 16px;
    background: rgba(0, 0, 0, 0.8);
    line-height: 16px;
    font-size: 11px;
    letter-spacing: -0.4px;
    color: #fff;
}

.build_item_pick1 {
    position: relative;
    right: -52px;
    top: -16px;
    font-size: 13px;
    font-weight: bold;
    color: #4a4a4a;
}

.build_item_pick2 {
    position: relative;
    right: -6px;
    top: 5px;
    font-size: 13px;
    color: #777;
}

.build_item_win1 {
    position: relative;
    right: -46px;
    top: -8px;
    font-size: 13px;
    color: #777;
    font-weight: bold;
}

/* 추천 아이템 빌드 테이블 */
.champion_item_build {
    position: relative;
    right: -370px;
    width: 725px;
    background-color: #f5f5f5;
    border: solid 1px #e6e6e6;
    border-collapse: collapse;
}

.champion_item_build_start {}

.champion_item_build_header {
    background: #fff;
    border-bottom: solid 1px #e6e6e6;
    vertical-align: middle;
    line-height: 17px;
    font-size: 14px;
    letter-spacing: -0.2px;
    color: #777;
    font-weight: bold;
}

.champion_item_build_header2 {
    height: 40px;
    background: #fff;
    border-bottom: solid 1px #e6e6e6;
    vertical-align: middle;
    line-height: 17px;
    font-size: 14px;
    letter-spacing: -0.2px;
    color: #777;
    font-weight: bold;
    padding-left: 10px;
}

.champion_item_build_header3 {
    height: 40px;
    background: #fff;
    border-bottom: solid 1px #e6e6e6;
    vertical-align: middle;
    line-height: 17px;
    font-size: 14px;
    letter-spacing: -0.2px;
    color: #777;
    font-weight: bold;
    padding-left: 10px;
}

.champion_item_build_header4 {
    background: #fff;
    border-bottom: solid 1px #e6e6e6;
    vertical-align: middle;
    line-height: 17px;
    font-size: 14px;
    letter-spacing: -0.2px;
    color: #777;
    font-weight: bold;
    padding-left: 10px;
}

.build_start_header {
    background: #f9f9fa;
    border-top: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    line-height: 16px;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: -1.1px;
    text-align: center;
    color: #4a4a4a;
    vertical-align: middle;
    padding: 0 15px 0 15px;
}

.build_start_item {
    padding: 10px 0 10px 20px;
}

.build_start_item2 {
    padding: 10px 0 10px 20px;
}

.item_list_tip1 img {
    border: 1px solid #000;
    border-radius: 2px;
    display: block;
    width: 42px;
    height: 42px;
    box-sizing: border-box;
}

.item_list_tip2 img {
    border: 1px solid #000;
    border-radius: 2px;
    display: block;
    width: 42px;
    height: 42px;
    box-sizing: border-box;
    position: relative;
    right: -15px;
}

.item_list_pick1 {
    position: relative;
    right: -76px;
    top: -25px;
    font-size: 13px;
    font-weight: bold;
    color: #4a4a4a;
}

.item_list_pick2 {
    position: relative;
    top: -8px;
    right: -30px;
    font-size: 13px;
    color: #777;
}

.item_list_win span {
    position: relative;
    top: -15px;
    right: -30px;
    font-size: 13px;
    color: #777;
    font-weight: bold;
}

.champion_item_build_start2 {
    border-top: 1px solid #e6e6e6;
    position: relative;

}

.item2_list1 img {
    border: 1px solid #000;
    border-radius: 2px;
    display: block;
    width: 42px;
    height: 42px;
    box-sizing: border-box;
    position: relative;
    top: 0;
    right: 0;
}

.item2_list2 img {
    border: 1px solid #000;
    border-radius: 2px;
    display: block;
    width: 42px;
    height: 42px;
    box-sizing: border-box;
    position: relative;
    right: -15px;
    top: 0;
}

.item2_list_pick1 {
    position: relative;
    right: -80px;
    top: -30px;
    font-size: 13px;
    font-weight: bold;
    color: #4a4a4a;
}

.item2_list_pick2 {
    position: relative;
    top: -10px;
    right: -45px;
    font-size: 13px;
    color: #777;
}

.item2_list_win1 {
    position: relative;
    top: -20px;
    right: -30px;
    font-size: 13px;
    color: #777;
    font-weight: bold;
}

.champion_ranking_build {
    border-top: 1px solid #e6e6e6;
}

.ranking_build_header {
    background: #f9f9fa;
    border-top: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    line-height: 16px;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: -1.1px;
    text-align: center;
    color: #4a4a4a;
    vertical-align: middle;

}

.ranking_build_item1 {
    padding: 10px 0 10px 20px;

}

.item_list_menu1 img {
    display: block;
    width: 42px;
    height: 42px;
    box-sizing: border-box;
}

.item_list_menu2 {
    float: left;
    width: 20px;
    height: 42px;
    line-height: 42px;
    text-align: center;
}

.item_list_menu3 img {
    border: 1px solid #000;
    border-radius: 2px;
    display: block;
    width: 42px;
    height: 42px;
    box-sizing: border-box;
}

.item_list_menu4 {
    float: left;
    width: 20px;
    height: 42px;
    line-height: 42px;
    text-align: center;
}

.item_list_menu5 img {
    border: 1px solid #000;
    border-radius: 2px;
    display: block;
    width: 42px;
    height: 42px;
    box-sizing: border-box;
}

.item_menu6_list1 {
    position: relative;
    right: -78px;
    top: -30px;
    font-size: 13px;
    font-weight: bold;
    color: #4a4a4a;
}

.item_menu6_list2 {
    position: relative;
    top: -10px;
    right: -40px;
    font-size: 13px;
    color: #777;
}

.item_menu7_list1 {
    position: relative;
    top: -20px;
    right: -30px;
    font-size: 13px;
    color: #777;
    font-weight: bold;
}

.ranking_build2_item1 {
    padding: 10px 0 10px 20px;
}

.item_list2_menu1 img {
    display: block;
    width: 42px;
    height: 42px;
    box-sizing: border-box;
}

.item_list2_menu2 {
    float: left;
    width: 20px;
    height: 42px;
    line-height: 42px;
    text-align: center;
}

.item_list2_menu3 img {
    border: 1px solid #000;
    border-radius: 2px;
    display: block;
    width: 42px;
    height: 42px;
    box-sizing: border-box;
}

.item_list2_menu4 {
    float: left;
    width: 20px;
    height: 42px;
    line-height: 42px;
    text-align: center;
}

.item_list2_menu5 img {
    border: 1px solid #000;
    border-radius: 2px;
    display: block;
    width: 42px;
    height: 42px;
    box-sizing: border-box;
}

.item2_menu6_list1 {
    position: relative;
    right: -78px;
    top: -30px;
    font-size: 13px;
    font-weight: bold;
    color: #4a4a4a;
}

.item2_menu6_list2 {
    position: relative;
    top: -10px;
    right: -40px;
    font-size: 13px;
    color: #777;
}

.item2_menu7_list1 {
    position: relative;
    top: -20px;
    right: -30px;
    font-size: 13px;
    color: #777;
    font-weight: bold;
}

.ranking_build3_item1 {
    padding: 10px 0 10px 20px;
}

.item_list3_menu1 img {
    display: block;
    width: 42px;
    height: 42px;
    box-sizing: border-box;
}

.item_list3_menu2 {
    float: left;
    width: 20px;
    height: 42px;
    line-height: 42px;
    text-align: center;
}

.item_list3_menu3 img {
    border: 1px solid #000;
    border-radius: 2px;
    display: block;
    width: 42px;
    height: 42px;
    box-sizing: border-box;
}

.item_list3_menu4 {
    float: left;
    width: 20px;
    height: 42px;
    line-height: 42px;
    text-align: center;
}

.item_list3_menu5 img {
    border: 1px solid #000;
    border-radius: 2px;
    display: block;
    width: 42px;
    height: 42px;
    box-sizing: border-box;
}

.item3_menu6_list1 {
    position: relative;
    right: -85px;
    top: -30px;
    font-size: 13px;
    font-weight: bold;
    color: #4a4a4a;
}

.item3_menu6_list2 {
    position: relative;
    top: -10px;
    right: -50px;
    font-size: 13px;
    color: #777;
}

.item3_menu7_list1 {
    position: relative;
    top: -20px;
    right: -30px;
    font-size: 13px;
    color: #777;
    font-weight: bold;
}

.ranking_build4_item1 {
    padding: 10px 0 10px 20px;
}

.item_list4_menu1 img {
    display: block;
    width: 42px;
    height: 42px;
    box-sizing: border-box;
}

.item_list4_menu2 {
    float: left;
    width: 20px;
    height: 42px;
    line-height: 42px;
    text-align: center;
}

.item_list4_menu3 img {
    border: 1px solid #000;
    border-radius: 2px;
    display: block;
    width: 42px;
    height: 42px;
    box-sizing: border-box;
}

.item_list4_menu4 {
    float: left;
    width: 20px;
    height: 42px;
    line-height: 42px;
    text-align: center;
}

.item_list4_menu5 img {
    border: 1px solid #000;
    border-radius: 2px;
    display: block;
    width: 42px;
    height: 42px;
    box-sizing: border-box;
}

.item4_menu6_list1 {
    position: relative;
    right: -83px;
    top: -30px;
    font-size: 13px;
    font-weight: bold;
    color: #4a4a4a;
}

.item4_menu6_list2 {
    position: relative;
    top: -10px;
    right: -45px;
    font-size: 13px;
    color: #777;
}

.item4_menu7_list1 {
    position: relative;
    top: -20px;
    right: -30px;
    font-size: 13px;
    color: #777;
    font-weight: bold;
}

.ranking_build5_item1 {
    padding: 10px 0 10px 20px;
}

.item_list5_menu1 img {
    display: block;
    width: 42px;
    height: 42px;
    box-sizing: border-box;
}

.item_list5_menu2 {
    float: left;
    width: 20px;
    height: 42px;
    line-height: 42px;
    text-align: center;
}

.item_list5_menu3 img {
    border: 1px solid #000;
    border-radius: 2px;
    display: block;
    width: 42px;
    height: 42px;
    box-sizing: border-box;
}

.item_list5_menu4 {
    float: left;
    width: 20px;
    height: 42px;
    line-height: 42px;
    text-align: center;
}

.item_list5_menu5 img {
    border: 1px solid #000;
    border-radius: 2px;
    display: block;
    width: 42px;
    height: 42px;
    box-sizing: border-box;
}

.item5_menu6_list1 {
    position: relative;
    right: -88px;
    top: -30px;
    font-size: 13px;
    font-weight: bold;
    color: #4a4a4a;
}

.item5_menu6_list2 {
    position: relative;
    top: -10px;
    right: -55px;
    font-size: 13px;
    color: #777;
}

.item5_menu7_list1 {
    position: relative;
    top: -20px;
    right: -30px;
    font-size: 13px;
    color: #777;
    font-weight: bold;
}

/* 추천 아이템 빌드 신발 */
.champion_build_shoes {
    border-top: 1px solid #e6e6e6;
}

.shoes_header {
    background: #f9f9fa;
    border-top: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    line-height: 16px;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: -1.1px;
    text-align: center;
    color: #4a4a4a;
    vertical-align: middle;
}

.shoes_menu {
    padding: 10px 0 10px 20px;
}

.shoes_menu_list1 img {
    border: 1px solid #000;
    border-radius: 2px;
    display: block;
    width: 42px;
    height: 42px;
    box-sizing: border-box;
}

.shoes_menu2_list1 {
    position: relative;
    right: -85px;
    top: -20px;
    font-size: 13px;
    font-weight: bold;
    color: #4a4a4a;
}

.shoes_menu2_list2 {
    position: relative;
    top: -3px;
    right: -40px;
    font-size: 13px;
    color: #777;
}

.shoes_menu3_list1 {
    position: relative;
    top: -10px;
    right: -35px;
    font-size: 13px;
    color: #777;
    font-weight: bold;
}

.shoes2_menu {
    padding: 10px 0 10px 20px;
}

.shoes2_menu_list1 img {
    border: 1px solid #000;
    border-radius: 2px;
    display: block;
    width: 42px;
    height: 42px;
    box-sizing: border-box;
}

.shoes2_menu2_list1 {
    position: relative;
    right: -85px;
    top: -20px;
    font-size: 13px;
    font-weight: bold;
    color: #4a4a4a;
}

.shoes2_menu2_list2 {
    position: relative;
    top: -3px;
    right: -40px;
    font-size: 13px;
    color: #777;
}

.shoes2_menu3_list1 {
    position: relative;
    top: -10px;
    right: -35px;
    font-size: 13px;
    color: #777;
    font-weight: bold;
}

.shoes3_menu {
    padding: 10px 0 10px 20px;
}

.shoes3_menu_list1 img {
    border: 1px solid #000;
    border-radius: 2px;
    display: block;
    width: 42px;
    height: 42px;
    box-sizing: border-box;
}

.shoes3_menu2_list1 {
    position: relative;
    right: -85px;
    top: -20px;
    font-size: 13px;
    font-weight: bold;
    color: #4a4a4a;
}

.shoes3_menu2_list2 {
    position: relative;
    top: -3px;
    right: -50px;
    font-size: 13px;
    color: #777;
}

.shoes3_menu3_list1 {
    position: relative;
    top: -10px;
    right: -35px;
    font-size: 13px;
    color: #777;
    font-weight: bold;
}